agm-map {
    height: 80vh;
}
h4 {
    font-size: 1rem;
}
.agent-list {
    background-color: #dcdcdc;
    position: fixed;
    z-index: 100;
    height: 80%;
    width: 20vw;
    top: 20vh;
    left: 0;
    margin-left:-19.5%;
    transition: margin 1s;
    overflow-y: auto;
}
.card, .alert {
    cursor: pointer;
    font-weight: bold;
    border: 5px;
    border-color: black;
    font-size: 10px;
}
.badge {
    font-size: 0.7rem;
    background-color: #337ab7;
}
.agent-list:hover {
    margin-left: 0;
}
